@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: roboto;
    margin: 0;
    min-height: 100vh;
  
    display: flex;
    flex-direction: column;

}

/* hero container portion */
.hero {
    background: #1F2937;

    display: flex;
    flex-direction: row;

    padding: 16px;
    margin: 0;

    gap: 16px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;

    gap: 10px;

}
.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}
.hero-secondary {
    font-size: 18px;
    color:#E5E7EB;
}

.hero-right {
    width: 300px;
    height: 250px;

    display: flex;
    flex: 1;
    background: gray;
    justify-content: center;
    align-items: center;
}

/* content portion */
.content {
    background: white;
    padding: 16px;
    /* border: 2px solid rebeccapurple; */
    margin-bottom: 64px;

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.content-title {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    align-self: center;

    margin: 24px auto;
}

.content-info {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 30px;

}

.info {
    /* border: 2px solid rebeccapurple; */ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 25px;
}

.text {
    text-align: center;
    /* border: 2px solid red; */
    width: 200px;
    font-size: 18px;
    color: #E5E7EB;
}

/* quote portion */
.quote{
    padding: 92px;
    /* border: 2px solid purple; */
    background: #E5E7EB;

    display: flex;
    flex-direction: column;
    /* align-content: center; */
 /*    justify-content: center; */
}

.quote-content {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-self: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 775px;

    /* border: 2px solid red; */
}

.quote-author {
    font-size: 18px;
    font-weight: bold;

    /* border: 2px solid red; */
    align-self: flex-end;

}
/* misc portion */
button {
    border: none;
    font-weight: bold;
    border-radius: 8px;
    background: #3882F6;
    padding: 8px 16px;
    color:#F9FAF8;
}

.header,
.footer {
    background: #1F2937;
    padding: 16px;
    
    font-size: 18px;
    color: #E5E7EB;

    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.footer {
    font-size: 12px;
    justify-content: center;
}
